[Desktop Entry]
Name=GNOME Kiosk
Comment=GNOME Kiosk single-application session
Exec=/usr/bin/gnome-session --session=gnome-kiosk
TryExec=/usr/bin/gnome-session
Type=Application
DesktopNames=GNOME-Kiosk;GNOME;
