[Desktop Entry]
Type=Application
Name=Mutter
Exec=/usr/bin/mutter
NoDisplay=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
